<!-- <div class="container-fluid" style="padding-top:110px">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide *ngFor="let item of images">
        <div class="wrapper">
          <img [src]="item" alt="Random first slide" />
        </div>

      </ng-template>
    </ngb-carousel>
  </div> -->
<!-- (slide)="onSlide($event)" -->
<div class="container-fluid">
  <ngb-carousel
    #carousel
    style="padding-top: 110px"
    [interval]="0"
    (slide)="onSlide($event)"
  >
    <ng-template ngbSlide *ngFor="let image of images.list">
      <div class="picsum-img-wrapper">
        <img [src]="image.src" style="max-height: 250px;" alt="Random slide" />
      </div>
      <!-- <div class="carousel-caption">
        <h3>No mouse navigation</h3>
        <p>This carousel hides navigation arrows and indicators.</p>
      </div> -->
    </ng-template>
  </ngb-carousel>
  <div class="row">
    <div style="width: 7%" *ngFor="let item of prodListingImages">
      <div class="product">
        <div class="product-wrap">
          <a
            ><img
              class="img-fluid w-100 mb-3 img-first"
              src="{{ item }}" (click)="viewImage()"
              alt="product-img"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
